@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --primary-color: #ad8b73;
  --secondary-color: #112d4e;
  --lightBleu-color: #dbe2ef;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --black-color: #030303;
  --bleu-color: #3f72af;
  --font-base: "DM Sans", "sans serif";
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
